# see http://about.travis-ci.org/docs/user/languages/php/ for more hints
language: php

# list any PHP version you want to test against
php:
  - 7.3

# Start mysql service
services:
  - mysql

# optionally specify a list of environments, for example to test different RDBMS
env:
  - DB=mysql

# Update composer
before-install:
  - composer self-update

# execute any number of scripts before the test run, custom env's are available as variables
before_script:
  - if [[ "$DB" == "mysql" ]]; then mysql -e "create database IF NOT EXISTS star_wars_test;" -uroot; fi

# omitting "script:" will default to phpunit
# use the $DB env variable to determine the phpunit.xml to use
#script: phpunit --configuration phpunit_$DB.xml --coverage-text
script: bin/phpunit --coverage-html coverage
